<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>ورود</title>
{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>

  <div class="login-container">
    <h2>ورود به حساب کاربری</h2>
    <form method="POST">
      {% csrf_token %}
      <label>نام کاربری:</label>
      <input type="text" name="username" required>

      <label>رمز عبور:</label>
      <input type="password" name="password" required>

      <button type="submit">ورود</button>
    </form>

    <div class="signup-link">
      <p>🤨اکانت نداری؟ <a href="{% url 'signup' %}">ثبت‌نام کن</a></p>
    </div>

    {% if messages %}
      <div class="error-msg">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

</body>
</html>
