<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<head>
  <meta charset="UTF-8">
  <title>ثبت‌ نام</title>
  
</head>
<body>

  <div class="signup-container">
    <h1>ثبت‌ نام کاربر جدید</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field|slice:":4" == "<ul " %}
          <div class="checkbox-group">
            {{ field }}
          </div>
        {% else %}
          {{ field }}
        {% endif %}
        {{ field.errors }}
      {% endfor %}
      <button type="submit">ثبت‌ نام</button>
    </form>

    <div class="login-link">
      <p>قبلاً ثبت‌ نام کرده‌ای؟ <a href="{% url 'login' %}">وارد شو</a></p>
    </div>
  </div>

</body>
</html>
